name: Testing

on:
  push:
    branches: ["master"]
    tags: ["*"]
  pull_request:
    branches: ["master"]

defaults:
  run:
    shell: bash

jobs:
  pytester:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        numpy-version: ["numpy<2.0", "numpy>=2.0"]
        exclude:
          - python-version: "3.9"
            numpy-version: "numpy>=2.0"
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
            pip install "${{ matrix.numpy-version }}" cython
            pip install -e . -r tests/requirements.txt

      - name: Run tests
        run: |
            pytest tests/
